<!-- HEADER -->
<header>
  <div class="header-container">
    <div class="header-left-nav">
      <%= link_to "CAFE APP", root_path, class: "header-logo" %>
    </div>
    <% if user_signed_in? %>
      <div class="header-right-nav">
        <div class="right-nav-wrapper">
          <%= link_to "お気に入り一覧", favorites_path, class: "header-btn md-btn" %>
          <div class="line"></div>
          <%= link_to "マイページ", root_path, class: "header-btn md-btn" %>
          <div class="line"></div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-btn md-btn" %>
        </div>
        <div class="current-user-img">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar.variant(gravity: :center, resize:"300x300^", crop:"300x300+0+0"), id: "current-user-img" %>
          <% else %>
            <%= image_tag "/default_icon.jpg", id: "current-user-img" %>
          <% end %>
          <ul class="header-nav-menu" id="nav-menu">
            <li>
              <%= link_to "お気に入り一覧", favorites_path %>
            </li>
            <li>
              <%= link_to "設定", root_path %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="header-right-nav">
        <div class="right-nav-wrapper">
          <%= link_to "ログイン", new_user_session_path, class: "btn header-btn md-btn" %>
          <div class="line"></div>
          <%= link_to "登録する", new_user_registration_path, class: "btn header-btn md-btn" %>
        </div>
      </div>
    <% end %>
  </div>
</header>
