<% provide(:title, "ログイン") %>
<div class="user-main-wrapper d-md-flex">
  <div class="split-column left-column">
    <div class="container">
      <div class="form-wrapper">
        <h2>ログイン</h2>

        <%= form_with model: @user, url: user_session_path, class: "sign-in", local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn-primary btn md-btn" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="split-column right-column">
    <div class="container">
      <div class="guest-login-wrapper">
        <h2>ゲストとしてログイン</h2>
        <%= link_to("ゲストログイン", root_path, class: "btn btn-primary md-btn") %>
      </div>
    </div>
  </div>
  <p class="center-or">OR</p>
</div>
