<div class="shop-review-frame">
  <div class="shop-review-title">
    <%= image_tag "/review-image.png" %>
    <h5>みんなの口コミ</h5>
    <% if reviews.exists? && user_signed_in? %>
      <button type="button" class="btn md-btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
        口コミを投稿する
      </button>
    <% elsif reviews.exists? %>
      <%= link_to "口コミを投稿する", new_user_session_path, class: "btn-primary md-btn btn" %>
    <% end %>
  </div>
  <div class="review-wrapper">
    <% if reviews.present? %>
      <div class="review-inner" id="reviews">
        <% reviews.each do |review| %>
          <div class="review-frame" id="rv-wrapper-<%= review.id %>">
            <div class="review-user-header">
              <div class="review-user-icon">
                <% if review.user.avatar.attached? %>
                  <%= image_tag review.user.avatar.variant(gravity: :center, resize:"300x300^", crop:"300x300+0+0") %>
                <% else %>
                  <%= image_tag "/default_icon.jpg" %>
                <% end %>
              </div>
              <div class="review-user-name">
                <%= review.user.name %>さんの口コミ
              </div>
              <div class="raview-rate-wrapper">
                <div id="star-rate<%= review.id %>"></div>
                <span><%= review.rate %></span>
              </div>
            </div>
            <div class="review-main-content">
              <h5 class="rv-title" id="rv-title-<%= review.id %>"><%= review.title %></h5>
              <p class="rv-comment" id="rv-comment-<%= review.id %>"><%= safe_join(review.comment.split("\n"),tag(:br)) %></p>
                <% if review.images.attached? %>
                  <div class="review-images-area">
                    <% review.images.each do |image| %>
                      <div class="image-opacity">
                        <%= link_to url_for(image) do %>
                          <%= image_tag image.variant(gravity: :center, resize:"150x150^", crop:"150x150+0+0") %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <div class="edit-delete-btn">
                <% if user_signed_in? && current_user.id == review.user_id %>
                  <span data-bs-toggle="modal" data-bs-target="#reviewEditModal<%= review.id %>">
                    <i class="far fa-edit"></i>
                  </span>
                  <%= link_to review_path(review), data: { confirm: '削除しますか?' }, class: "review-delete-btn", method: :delete, remote: true do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <%= render "shared/edit_modal", review: review %>
          <%= render "shared/edit_star_rate", review: review %>
        <% end %>
      </div>
    <% else %>
      <div class="review-inner" id="reviews">
        <p>現在クチコミはありません</p>
        <% if user_signed_in? %>
          <button type="button" class="btn lg-btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#reviewModal">
            口コミを投稿する
          </button>
        <% else %>
          <%= link_to "口コミを投稿する", new_user_session_path, class: "btn lg-btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/hotpepper_credit" %>
